<p>
  personal works!
</p>
<button mat-button> Click me! Test</button>
<mat-list>
    <h4 mat-subheader>Сотрудники</h4>
    <mat-list-item *ngFor="let person of allMyPersonal"
                   (click)="openPersonForm()">
      <mat-icon svgIcon="edit_person"
                mat-list-icon>edit_person</mat-icon>
      <h4 mat-line>{{  person.name  }}</h4>
      <p mat-line> {{ person.role }} </p>
    </mat-list-item>
</mat-list>
 <button mat-raised-button
         color="primary"
         type="submit"
         (click)="createPersonForm()"
         >Добавить сотрудника</button>


<!--
   mat-list-icon
  <mat-nav-list>
  <mat-list-item *ngFor="let person of allMyPersonal">
     <a matLine href="#">{{ person.role }}</a>
     <button mat-icon-button (click)="showInfo(link)">
        <mat-icon>info</mat-icon>
     </button>
  </mat-list-item>
</mat-nav-list>

<mat-list>
  <mat-list-item *ngFor="let person of allMyPersonal">
  {{ person.id }}   {{ person.name }}    {{ person.role }}</mat-list-item>
 </mat-list>


  <mat-icon-button>Hi</mat-icon-button>


  <li *ngFor="let hero of heroes">
  {{ hero }}
</li>
<mat-nav-list>
  <mat-list-item *ngFor="let person of allMyPersonal">
     <a matLine href="#">{{ person.id }}{{ person.name }}{{ person.role }}</a>
     <button mat-icon-button (click)="showInfo(link)">
        <mat-icon>info</mat-icon>
     </button>
  </mat-list-item>
</mat-nav-list>
<div matDialogActions class="modal-footer" >
  <button mat-raised-button
  class="my-button-left"
  type="submit"
  color="primary"
  (click)="deleteGroup(); $event.preventDefault()"
                    >Delete</button> 
  <button mat-button class="my-button-left"
  class="button-bordered"
  color="primary"
  (click)="cancelEdit()"
  *ngIf="modalEditable">Cancel</button>
 <button mat-button
  class="button-bordered"
  color="primary"
  (click)="cancelGroupSettings()"
  *ngIf="!modalEditable">Close</button>

<button mat-raised-button
  type="submit"
  color="primary"
  (click)="editGroupSettings(); $event.preventDefault()"
  *ngIf="!modalEditable">Edit</button>
<button mat-raised-button
  type="submit"
  color="primary"
  (click)="saveGroupSettings(); $event.preventDefault()"
  *ngIf="modalEditable">Save</button>
</div>
</div>

<div matDialogActions class="modal-footer" >
  <button mat-raised-button
  class="my-button-left"
  type="submit"
  color="primary"
  (click)="deleteGroup(); $event.preventDefault()"
                        >Delete</button>
  
      <button mat-button class="my-button-left"
      class="button-bordered"
      color="primary"
      (click)="cancelEdit()"
      *ngIf="modalEditable">Cancel</button>
     <button mat-button
      class="button-bordered"
      color="primary"
      (click)="cancelGroupSettings()"
      *ngIf="!modalEditable">Close</button>
   
    <button mat-raised-button
      type="submit"
      color="primary"
      (click)="editGroupSettings(); $event.preventDefault()"
      *ngIf="!modalEditable">Edit</button>
    <button mat-raised-button
      type="submit"
      color="primary"
      (click)="saveGroupSettings(); $event.preventDefault()"
      *ngIf="modalEditable">Save</button>
-->
