<div mat-dialog-container>
  <div matDialogTitle 
     *ngIf="!newPersonMode">
     Редактировать сотрудника
       <button class="dialog-close"
                mat-dialog-close><mat-icon>close</mat-icon>
       </button>
  </div>
  <div matDialogTitle 
     *ngIf="newPersonMode">
     Создать сотрудника
       <button class="dialog-close"
               mat-dialog-close><mat-icon>close</mat-icon>
      </button>
  </div> 
  <div matDialogContent
    disableClose="false">
    <form [formGroup]="personEditForm"
          (ngSubmit)="onFormSubmit()"
      >
      <div>
        <mat-form-field class="full-width">
           <input matInput
            formControlName="name"
            type="text"
            [(ngModel)]="name"
            placeholder="Имя сотрудника"
            required
            [value]="name"
            >
          <!--  
          <div class="alert">
            <div class="alert alert-danger"
              *ngIf="personEditForm.get('name').hasError('required') && personEditForm.get('name').touched">
              Необходимо имя!
            </div>  
            <form [formGroup]="userForm">
               <input type="text" class="form-control"  [value]="item.UserFirstName" formControlName="UserFirstName">
               <input type="text" class="form-control"  [value]="item.UserLastName" formControlName="UserLastName">
           </form>
          </div> -->
        </mat-form-field>
        <mat-form-field class="input-full-width">
            <mat-select placeholder="Должность">
                <mat-option *ngFor="let role of rolesFake"
                            [value]="role"
                            >
                  {{ role }}
                </mat-option>
              </mat-select>
        </mat-form-field>
      </div>
      </form>
  </div>
    
  <div mat-dialog-actions>
    <div class="modal-width">
    <button mat-button
      class="button-bordered"
      color="primary"
      (click)="cancelPersonEdit($event)">Отмена</button>
    <button
      *ngIf="!newPersonMode"
      mat-raised-button 
      type="submit"
      color="primary"
      (click)="deletePerson()">Удалить</button>
    <button *ngIf="!newPersonMode"
      mat-raised-button
      type="submit"
      color="primary"
      (click)="editPerson()">Сохранить</button>
    <button *ngIf="newPersonMode"
      mat-raised-button
      type="submit"
      color="primary"
      (click)="editPerson()">Создать</button>
    </div>
</div>
<div mat-dialog-container>